<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="h1 text-center">
                    Register
                </h1>
                <form method="POST" action="/register">
                    <div class="mb-3">
                        <label for="exampleInputUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="exampleInputUsername"
                            aria-describedby="usernameHelp" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="email">
                        <div id="emailHelp" class="form-text">We'll never share your email.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputisAdmin" class="form-label">Admin</label>
                        <input type="text" class="form-control" id="exampleInputisAdmin" name="isAdmin">
                        <div id="isAdmin" class="form-text">Type 1 for Admin and type 2 for others.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


</body>

</html>

